<style>
    footer{
        width: 100%;
        background-color:#222;
        color:white;
        padding: 40px 0;
    }

    footer dl{
        float: left;
    }
    footer dd{
        margin: 5px 0;
        font-size: 13px;
    }

    footer a{color:#888;}
</style>

<footer>
    <div class="container">
        <div>
            <dl class="col-sm-4 col-md-4 col-xs-6">
                    <dt>
                        <i class="fa fa-paper-plane" aria-hidden="true"></i> 社交
                    </dt>
        
                    <dd>
                        <a href="https://weibo.com/5901164261" target="_blank">
                            <i class="fa fa-weibo" aria-hidden="true"></i>  Sina微博
                        </a>
                    </dd>
                    <dd>
                        <a href="https://music.163.com/#/user/home?id=411605583" target="_blank">
                            <i class="fa fa-soundcloud"></i> 网易云音乐
                        </a>
                    </dd>
                    <dd>
                        <a href="https://github.com/cx19960223" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i> GitHub
                    </a>
                    </dd>
                </dl>
        
                <dl class="col-sm-4 col-md-4 col-xs-6">
                    <dt>
                        <i class="fa fa-heartbeat" aria-hidden="true"></i> 欣赏的人
                    </dt>
        
                    <dd>
                        <a href="http://www.ruanyifeng.com/blog/" target="_blank">
                            <i class="fa fa-paint-brush" aria-hidden="true"></i> 阮一峰的博客
                        </a>
                    </dd>
                    <dd>
                        <a href="https://www.liaoxuefeng.com" target="_blank">
                            <i class="fa fa-rocket" aria-hidden="true"></i> 廖雪峰的博客
                        </a>
                    </dd>
                    <dd>
                        <a href="http://www.laruence.com/" target="_blank">
                            <i class="fa fa-share-alt" aria-hidden="true"></i> 惠新宸的博客
                        </a>
                    </dd>
                </dl>
        
                <dl class="col-sm-4 col-md-4 hidden-xs">
                    <dt>
                        <i class="fa fa-internet-explorer" aria-hidden="true"></i> 喜欢的网站
                    </dt>
        
                    <dd>
                        <a href="https://segmentfault.com/" target="_blank">
                            <i class="fa fa-tags" aria-hidden="true"></i> SegmentFault
                        </a>
                    </dd>
                    <dd>
                        <a href="https://www.huxiu.com/" target="_blank">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i> 虎嗅
                        </a>
                    </dd>
                    <dd>
                        <a href="http://ac.scmor.com/" target="_blank">
                            <i class="fa fa-google" aria-hidden="true"></i> Google学术
                        </a>
                    </dd>
                </dl>
        </div>
        
        <div>
            <p>
                <span class="col-xs-12 col-sm-4">
                    Copyright © 2019 菜穗子的个人博客
                </span>
                <span class="col-xs-12 col-sm-4">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i> 渝ICP备18011504号
                </span>
            </p>
        </div>
    </div>
</footer>