<style>
    footer{
        width: 100%;
        background-color:#222;
        color:white;
        padding: 40px 0;
    }

    footer dl{
        float: left;
    }
    footer dd{
        margin: 5px 0;
        font-size: 13px;
    }

    footer a{color:#888;}
</style>

<footer>
    <div class="container">
        <div>
            <dl class="col-sm-4 col-md-4 col-xs-6">
                    <dt>
                        <i class="fa fa-comments-o" aria-hidden="true"></i> 小众但正经的社交
                    </dt>

                    <dd>
                        <a href="https://weibo.com/5901164261" target="_blank">
                            <i class="fa fa-weibo" aria-hidden="true"></i>  Sina微博
                        </a>
                    </dd>
                    <dd>
                        <a href="https://music.163.com/#/user/home?id=411605583" target="_blank">
                            <i class="fa fa-soundcloud"></i> 网易云音乐
                        </a>
                    </dd>
                    <dd>
                        <a href="https://www.zhihu.com/people/chen-xi-49-98-17/activities" target="_blank">
                            <i class="fa fa-opencart"></i> 知乎
                        </a>
                    </dd>
                </dl>
        
                <dl class="col-sm-4 col-md-4 col-xs-6">
                    <dt>
                        <i class="fa fa-frown-o" aria-hidden="true"></i> 一些很丧的小事
                    </dt>
        
                    <dd>
                        <a href="javascript:void(0);" target="_blank">
                            <i class="fa fa-odnoklassniki"></i> 三天打鱼，两天晒网的健身运动
                        </a>
                    </dd>
                    <dd class="hidden-xs">
                        <a href="javascript:void(0);" target="_blank">
                            <i class="fa fa-paper-plane"></i> 等待风口，妄想一飞冲天的创业梦
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0);" target="_blank">
                            <i class="fa fa-book"></i> 布局宏大，但还未起笔的小说梦
                        </a>
                    </dd>
                </dl>
        
                <dl class="col-sm-4 col-md-4 hidden-xs">
                    <dt>
                        <i class="fa fa-smile-o" aria-hidden="true"></i> 一些积极的小事
                    </dt>
        
                    <dd>
                        <a href="javascript:void(0);" target="_blank">
                            <i class="fa fa-universal-access"></i> 专本连读已开始实施阶段
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0);" target="_blank">
                            <i class="fa fa-money"></i> 财商能力进入培养阶段
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0);" target="_blank">
                            <i class="fa fa-recycle"></i> 三观构建基本处于闭环阶段
                        </a>
                    </dd>
                </dl>
        </div>
        
        <div>
            <p>
                <span class="col-xs-12 col-sm-4">
                    Copyright © 2019 派大星的博客
                </span>
                <span class="col-xs-12 col-sm-4">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i> 
                    <a href="http://www.beian.miit.gov.cn/" target="_blank">
                        渝ICP备18011504号
                    </a>
                </span>
            </p>
        </div>
    </div>
</footer>