<!-- 发布文章登陆框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    发布文章登陆
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">账号:</label>
                    <input type="text" class="form-control" name="name" placeholder="请输入账号">
                </div>
                <div class="form-group">
                    <label for="name">密码:</label>
                    <input type="password" class="form-control" name="password" placeholder="请输入密码">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success" onclick="login();">提交</button>
            </div>
        </div>
    </div>
</div>

<script>
// 登录
function login(){
    var name = $("input[name='name']").val();
    var password  = $("input[name='password']").val();
    $('#myModal').modal('hide');//隐藏模态框
    if(name == ''){
        layer.msg('名称不能为空', {icon: 2});
        return false;
    }
    if(password == ''){
        layer.msg('密码不能为空', {icon: 2});
        return false;
    }

    $.ajax({
        type: "POST",
        url: "/index/index/login",
        contentType: 'application/x-www-form-urlencoded;charset=utf-8',
        data: {
            'name':name,
            'password':password
        },
        dataType: "json",
        success: function(data){
            if(data.code == 200){
                layer.msg(data.msg, {icon: 1});
            　　setTimeout(jumurl,2000);
            }else{
                layer.msg(data.msg, {icon: 2});
            }
        }, error: function(data){
            layer.msg("当前网络不稳定!请稍后再试", {icon: 2});
        }
    });
}

// 跳转至发布文章
function jumurl(){
　　window.location.href = "/index/index/publish";
}
</script>