{include file="base/header" /}
{include file="base/login" /}
<link rel="stylesheet" href="/all/css/article.css">

    {if $article != ''}
        <div class="container" style="background-color:white;">
            <!-- 面包屑 [start] -->
            <ul class="breadcrumb" style="margin-top:10px;">
                <li class="animated rollIn"><a href="#">Home</a></li>
                <li class="animated rollIn"><a href="#">2013</a></li>
                <li class="active animated rollIn">十一月</li>
            </ul>
            <!-- 面包屑 [end] -->
            <div class="jumbotron">
                <h1 class="animated lightSpeedIn">{$article.title}&nbsp;<small>{$article.author}</small></h1>
            </div>
            <div class="row">
                {if $article.nav != ''}
                    <div class="visible-lg-block col-md-2" id="myScrollspy">
                        <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
                            {$article.nav}
                        </ul>
                    </div>
                {else/}
                {/if}
                
                <div class="col-xs-12 col-md-10">
                    {$article.content}
                </div>
            </div>
        </div>
    {else /}
        暂无数据
    {/if}
	
	
</body>
</html>