{include file="base/header" /}
{include file="base/login" /}
<link rel="stylesheet" href="/all/css/article.css">
    {if $article != ''}
        <div class="container" style="background-color:white;">
            <!-- 面包屑 [start] -->
            {if $time != ''}
                <ul class="breadcrumb" style="margin-top:10px;">
                    <li class="animated rollIn"><a href="/index/index/index?type={$article.tag}">{$article.tager}</a></li>
                    <li class="animated rollIn"><a href="#">{$time.year}</a></li>
                    <li class="animated rollIn"><a href="#">{$time.month}</a></li>
                    <li class="active animated rollIn">{$time.day}</li>
                </ul>
            {/if}
            <!-- 面包屑 [end] -->
            <div class="jumbotron">
                <h1 class="animated {$animated[rand(0,33)]}">{$article.title}&nbsp;<small>{$article.author}</small></h1>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-11">
                    {:html_entity_decode($article['content'])}
                </div>
            </div>
        </div>
    {else /}
        暂无数据
    {/if}

{include file="base/footer" /}
</body>
</html>